<!-- ////////////// FOOTER ////////////// -->
footer.pt-4
	.footer-contact
		.container
			.row
				.col-md-12.col-lg-4.text-lg-left.title-contact
					h2.mt-5 FullStack VietNam
					p Mobile: 0904043607
						br
						|Email: admin@fullstackvietnam.com
						br
						|Địa chỉ: 107/19/12 Pham Van Hai
				.col-sm-6.col-md-4.col-lg-3.link
					h2.mt-5 Links
					ul.list-inline
						li
							a(href="javascript:void(0)") Khóa học FrontEnd Master
						li
							a(href="javascript:void(0)") Khóa học FullStack Developer
						li
							a(href="javascript:void(0)") Khóa học Design Chuyên nghiệp
						li
							a(href="javascript:void(0)") Lịch khai giảng
						li
							a(href="javascript:void(0)") Đăng kí khóa học
				.col-sm-6.col-md-4.col-lg-3.link
					h2.mt-5.hide Links
					ul.list-inline.ul2
						li
							a(href="javascript:void(0)") Khóa học FrontEnd Master
						li
							a(href="javascript:void(0)") Khóa học FullStack Developer
						li
							a(href="javascript:void(0)") Khóa học Design Chuyên nghiệp
						li
							a(href="javascript:void(0)") Lịch khai giảng
						li
							a(href="javascript:void(0)") Đăng kí khóa học
				.col-sm-12.col-md-4.col-lg-2
					.item-footer
						ul.list-inline
							li
								a(href="javascript:void(0)")
									i.fa.fa-twitter
							li
								a(href="javascript:void(0)")
									i.fa.fa-facebook
	.item
		.container
			.row
				.col-md-8
					.title-footer
						h3 Copyright by FullStack Vietnam
				.col-md-4.email
					form(action="javascript:void(0)")
						.row.box-email
							.col-8
								input(type="email" placeholder="Email cua ban" required).form-control
							.col-4
								button.btn.btn-more(type="submit") GỬI
