<!-- ////////////// HEADER ////////////// -->
header
	.container
		nav.navbar.navbar-expand-lg
			a.navbar-brand(href="#") 
				img(src="./img/logo.png", alt="Logo")
			button.navbar-toggler(type="button" data-toggle="collapse" data-target="#fullStackMenu" aria-controls="fullStackMenu" aria-expanded="false" aria-label="Toggle navigation")
				span.fa.fa-bars
			#fullStackMenu.collapse.navbar-collapse
				ul.navbar-nav.ml-auto
					li.nav-item.active
						a.nav-link(href="index.html") My Account
					li.nav-item
						a.nav-link(href="about.html") Check Gift
					li.nav-item.active
						a.nav-link(href="index.html") CardMy
					li.nav-item
						a.nav-link(href="about.html") Wishlist
					li.nav-item.active
						a.nav-link(href="index.html") The Different
					li.nav-item
						a.nav-link(href="about.html") Career
					li.nav-item.active
						a.nav-link(href="index.html") Checkout
					
<!-- ////////////// HEADER ////////////// -->
